# Clerk Authentication
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_d29ya2luZy1jb3lvdGUtMTQuY2xlcmsuYWNjb3VudHMuZGV2JA
CLERK_SECRET_KEY=sk_test_1CBCgyGzNPDYDI7QtGowelc3cxcpL1coazcTfyPeaB
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up

# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://afxweohbalckadmkmshs.supabase.co/rest/v1/
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_GEq73zz-Mej2A32vkGvnaA_22yGUNnW
SUPABASE_SERVICE_ROLE_KEY=sb_secret_K73JFJLcmR8_4zBtt3o__w_PIr2k62o

# Stripe
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_51TuV6KFsClCK5YOUsEnV6qf0N7WuqV3zSVrAP7e7mRMpK8bz0mn7vuWB3IvfkV6VW3aVnOU29u0ceoCn2yEcHvdv00rZeI0XK5
STRIPE_SECRET_KEY=sk_test_51TuV6KFsClCK5YOUNkyxQ03dyHwjiEExPkRQoeZnUdnDGHlfzPfChcLMsDDYJXnjvwEL8rXn5AJexiJYI3LPxwLb00wS6YzNpv
STRIPE_WEBHOOK_SECRET=whsec_OfRiNt2rhdyWO4Kle83ipSVZjpDokBxQ

# Google Maps
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=AIzaSyBN7-1mLzOYY4RTLqfj4MGulzP-E_59ZzE

# App
NEXT_PUBLIC_APP_URL=https://swaad-vadodara-food-delivery-i2vta0fko-vani-d.vercel.app
